// .cls-38:hover,.cls-40:hover{fill:#444444;text-decoration:line-through;}

// .cls-65:hover ~ .cls-38{fill:#444;}
.letrero:hover {cursor:pointer;}
// .letrero:hover .cls-38{fill:#444;}
.letrero:hover .cls-38{fill:#2B2B2B;}
.letrero:hover .cls-65{text-decoration:none}

// .letrero:hover .st15{fill:#444;}
.letrero:hover .st15{fill:#2B2B2B;}
.letrero:hover .st2{text-decoration:none;}

i{
	position:absolute;
}

.fa-phone{
    position:initial;
}

svg a:hover, svg a, svg a:visited, svg a:active {
   text-decoration: none;
}

body { background: #F5FCFF; color: #00A9A2; }
section { text-align: center; margin: 50px 0; }
.panzoom-parent { border: 2px solid #333; }
.panzoom-parent .panzoom { border: 2px dashed #666; }
// .buttons { margin: 40px 0 0; }